<h1><%= @vendor.name %></h1>
<br>
<p><strong>Contact Info:</strong><br>
name: <%= @vendor.contact_name %><br>
phone: <%= @vendor.contact_phone %></p>
<p><strong>Credit Accepted: </strong>
<%= @vendor.formatted_credit_accepted %></p>
<p><strong>Description: </strong>
<%= @vendor.description %></p>